# Python dependencies required for development
future
numpy
psutil
pyyaml
requests
setuptools
six
typing_extensions
dataclasses; python_version<"3.7"
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
